
header{
    background: #2F343A;
    height: 100px;
}
header *{
    color: #ffffff;
}
header h1 {
    margin-top: 13px;
}
header h1 a{
    color: #ffffff;
}
header h1 a:hover{
    color: #ffffff;
}
header ul{
    margin-top: 20px;

    padding: 0;
    list-style-type: none;
    float: right;
}
header ul li{
    float: left;
    position: relative;
}
header ul li a{
    display: block;
    font-size: 1.2rem;
    text-decoration: none;
    color: #ffffff;
    padding: 22px;
}
header ul li a:hover{
    color: #FF7313 ;
    transition: 0.5s;

}


header ul li ul{
    position: absolute;
    top: 70px;
    right: 0px;
    width: 180px;
    display: none;
    z-index: 111;
}
header ul li:hover ul{
    display: block;
}
header ul li ul li{
    width: 100%;
}
header ul li ul li a{
    padding: 10px;
    background: white;
    color: #006669;
}


.logo{
    text-decoration: underline;
}